# URL de ton instance Readeck (sans slash final)
READECK_URL=https://readeck.abbadie.ovh

# Token API Readeck
# Récupérable dans : Readeck → Settings → Applications → Create token
READECK_TOKEN=TON_TOKEN
